
*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: #08a84b;
    padding: 20px;
    color: hsla(36, 94%, 49%, 0.965);
    width: 100%;
    border-bottom: 10px;
    border-top: 10px;
    position: fixed;
    display: block;
    z-index: 10;
    text-align: center;

}


.img{
    position: relative;
    padding: 50px;
  width: 250px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.img img{
  margin-top: 100px;
   width: 140%;
  height: 150px;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.img:hover{
    transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.img img:hover{
     transform: scale(1.1);
}
.img-overlay{
     position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  color: rgb(234, 228, 231);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.img:hover .img-overlay {
  opacity: 1;
}
.img p{
    padding: 10px;
}
.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    

}
